<h1 class="text-center" style="margin-bottom:100px;">Mes Annonces</h1>

<div class ="container">
<div class ="row">
    <% @user.annonces.each do |annonce| %>
      <div class="card-deck col-sm-12 col-xs-12 col-md-4 col-lg-4" style="margin-bottom:20px;">
        <div class="p-2 card ">
          <img class="card-img-top" src="<%= image_url('table.jpg') %>" alt="Card image cap">
          <div class="card-block">
            <h2 class="card-title"><%=annonce.name%></h2>
            <p class="card-text"><%=annonce.description%></p>
            <p class="card-text"><b><%=annonce.prix%></b><p>
            <a href="<%=annonce_path(annonce.id)%>" class="btn btn-primary">Voir l'annonce</a>
          </div>
        </div>
      </div>
    <% end %>
</div>
</div>
