<h1>Edition</h1>
  <% if @annonce.errors.any? %>
    <div class="alert alert-danger">
        <%@annonce.errors.full_messages.each do |message|%>
        <li><%= message %></li>
    <% end %>
</div>
<% end %>
<%= form_for @annonce do |f|%>
    <div class="form-group">
        <label>Titre de l'article </label>
        <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>Selectionner un jeux : </label></br>
      <%= f.collection_select:game_id, Game.order(:name),:id,:name,include_blank: false %>
    </div>

    <div class="form-group">
      <label>Selectionner une catégorie : </label></br>
      <%= f.collection_select:category_id, Category.order(:name),:id,:name,include_blank: false %>
    </div>

    <div class="form-group">
        <label> Contenu de l'article </label>
        <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
        <label>Prix</label>
        <%= f.text_field :prix, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%=	f.label :picture_file, "Image", class: 'col-md-4 control label' %>
      <div class="col-md-6">
        <%=	f.file_field :picture_file, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Modifier l'annonce</button>
    </div>
    <a href="<%= annonce_path(@annonce.id) %>" class="btn btn-danger" data-confirm="etes vous sur ? " data-method="DELETE">Supprimer</a>
<% end %>
