<h1>Nouvelle Annonce</h1>
<% if @annonce.errors.any? %>
<div class="alert alert-danger">
  <%@annonce.errors.full_messages.each do |message|%>
  <li><%= message %></li>
  <% end %>
</div>
<% end %>
<%= form_for @annonce do |f|%>
<div class="form-group">
  <label>Titre de votre annonce</label>
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <label>Selectionner un jeux : </label></br>
  <%= f.collection_select:game_id, Game.order(:name),:id,:name,include_blank: false %>
</div>

<div class="form-group">
  <label>Selectionner une catégorie : </label></br>
  <%= f.collection_select:category_id, Category.order(:name),:id,:name,include_blank: false %>
</div>

<div class="form-group">
  <label>Description :</label>
  <%= f.text_area :description, class: 'form-control' %>
</div>
<div class="form-group">
  <label>Les options :</label>
<div class="row">
  <%= f.fields_for :options do |option| %>
    <%= option.text_field :name, class: 'form-control col-md-6',placeholder: 'Intitulé de votre option', style: 'margin-bottom:20px;' %>
    <%= option.text_field :price, class: 'form-control col-md-2',placeholder: 'Le prix (max : 50 €)', style: 'margin-bottom:20px;' %>
  <% end %>

  <%= f.fields_for :options do |option| %>
    <%= option.text_field :name, class: 'form-control col-md-6',placeholder: 'Intitulé de votre option', style: 'margin-bottom:20px;' %>
    <%= option.text_field :price, class: 'form-control col-md-2',placeholder: 'Le prix (max : 50 €)', style: 'margin-bottom:20px;' %>
  <% end %>
  <%= f.fields_for :options do |option| %>
    <%= option.text_field :name, class: 'form-control col-md-6',placeholder: 'Intitulé de votre option', style: 'margin-bottom:20px;' %>
    <%= option.text_field :price, class: 'form-control col-md-2',placeholder: 'Le prix (max : 50 €)', style: 'margin-bottom:20px;' %>
  <% end %>
</div>
</div>


<div class="form-group">
  <%=	f.label :picture_file, "Ajouter une image à votre annonce :", class: 'col-md-4 control label' %>
  <div class="col-md-6">
    <%=	f.file_field :picture_file, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <button type="submit" class="btn btn-primary">Mettre en vente</button>
</div>
<% end %>
