<a href="<%=annonces_path%>" class="btn btn-primary">Retour</a>
<a href="<%=edit_annonce_path%>" class="btn btn-info">Editer</a>
<a href="<%= annonce_path(@annonce.id) %>" class="btn btn-danger" data-confirm="etes vous sur ? " data-method="DELETE">Supprimer</a>

    
    <h1><%= @annonce.name %></h1>
    <p><%= @annonce.description %></p>
    <p><%= @annonce.prix %></p>


