<div class="row">
  <% if @annonce.picture %>
  <div id="carouselExampleControls" class="carousel slide col-lg-7" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%= image_tag(@annonce.picture_url, :class =>"d-block img-fluid")  %>
      </div>
      <div class="carousel-item">
        <%= image_tag(@annonce.picture_url, :class =>"d-block img-fluid")  %>
      </div>
      <div class="carousel-item">
        <%= image_tag(@annonce.picture_url, :class =>"d-block img-fluid")  %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
    <div class="card">
      <%= image_tag @annonce.user.avatar_url, :class =>"card-img-top mt-4"%>
      <div class="card-block">
        <h4 class="card-title"><%= @annonce.user.username %></h4>
          <div class="meta mt-4">
            <p><%= @annonce.user.description%></p>
          </div>
      </div>
      <div class="card-footer">
        <a href="#messagerie" class="btn btn-primary">Une question à poser ?</a>
      </div>
    </div>
  </div>
  <div class="desc col-lg-8">
    <h2 class="titleannonceshow">
      <b><%= @annonce.name%></b>
    </h2>
  </br>
  <p class="description">
    <b>Description :</b>
  </br><%= @annonce.description %></p>
  <ul>
  <%= render(partial: 'options/option', collection: @annonce.options) %>
</ul>
<button class="btn btn-success">Acheter</button>
</div>
<% end %>
</div>
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
